__pycache__/
*.pyc
kg_layer/data/raw/*
!kg_layer/data/raw/.gitkeep
kg_layer/data/normalized/*
!kg_layer/data/normalized/.gitkeep
kg_layer/data/reviewed/*
!kg_layer/data/reviewed/.gitkeep
kg_layer/data/published/*
!kg_layer/data/published/.gitkeep
